
.card{
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px 1px #d0d0d0;
  border: 1px dashed #d0d0d0;
  margin-bottom: 15px;
  padding:10px;
  padding-left: 0px;
}
